body{
  background-color: #374258;
  font-family: 'Source Code Pro', monospace;
}

#barra-Navegacion{
  background-color: #374258;
  top: 0;
  right: 0;
  left: 0;
}
#S-About-me{
  margin-top: 100px;
  background-image: url("../img/bg-perfil.png");
  background-size: cover;
}
.gradient-text{
  background-image: linear-gradient(to right, #f74464, #6a7285);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-perfil{
  width: 30rem;
  background-color: #374258;
  box-shadow: 0px;
  border: 0px;
  color: #f3f3f3;
  border: #f3f3f3 solid;
}
.card-about-me{
  width: 30rem;
  background-color: #374258;
  box-shadow: 0px;
  border: 0px;
  color: #f3f3f3;
}

.imagen-personal{
height: 100%;
}

.section-t2{
  /* height: 720px; */
  background-color: #1f2738;
  color: #f3f3f3;
  padding-top: 5rem;
  padding-bottom: 5rem;
  
}
.section-t1{
  height: 720px;
  background-color: #374258;
  color: #f3f3f3;
  padding-top: 5rem;
}
.btn{
  color: #f3f3f3;
}
.img-perfil{
  height: 30rem;
}
.contenedor-about-me{
  width: 60%;
}
.skills-container {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-around;
}
.circular-progress{
    position: relative;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border-radius: 9rem;
    margin-inline:1.5rem;
    border: 1.2rem solid #374258;
    box-sizing: border-box;
    transform: rotate(45deg)
}
.text-progress{
  color:#f74464;
  transform: rotate(-45deg);
  font-size: 3rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
.S-titulo{
  text-align: center;
  margin-bottom: 0rem;
  font-size: 2rem;
  color:#f74464;
}
.progress-25 {
  border-left-color:#f74464;
}
.progress-50 {
  border-left-color:#f74464;
  border-top-color:#f74464;
}
.progress-75 {
  border-left-color:#f74464;
  border-top-color:#f74464;
  border-right-color:#f74464;
}
.progress-100 {
  border-left-color:#f74464;
  border-top-color:#f74464;
  border-bottom:#f74464;
}

.card-educaction{
  background-color: transparent;
  color: #f3f3f3;
  text-align: justify;
}

.card-educaction .card-title{
  color: #f74464;
}
.card-educaction .card-subtitle{
  color: #f797a8;
}
