body{
  background-color: #374258;
  font-family: 'Source Code Pro', monospace;
}

#barra-Navegacion{
  background-color: #374258;
  top: 0;
  right: 0;
  left: 0;
}
#S-About-me{
  height: 720px;
  margin-top: 100px;
  background-image: url("../img/bg-perfil.png");
  background-size: cover;
}
.gradient-text{
  background-image: linear-gradient(to right, #f74464, #6a7285);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-perfil{
  width: 30rem;
  background-color: #374258;
  box-shadow: 0px;
  border: 0px;
  color: #f3f3f3;
  border: #f3f3f3 solid;
}
.card-about-me{
  width: 30rem;
  background-color: #374258;
  box-shadow: 0px;
  border: 0px;
  color: #f3f3f3;
}

.imagen-personal{
height: 100%;
}

.section-t2{
  background-color: #1f2738;
  color: #f3f3f3;
  padding-top: 5rem;
  padding-bottom: 5rem;
  
}
.section-t1{
  background-color: #374258;
  color: #f3f3f3;
  padding-top: 5rem;
}
.btn{
  color: #f3f3f3;
}
.img-perfil{
  height: 30rem;
}
.contenedor-about-me{
  width: 60%;
}
.skills-container {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-around;
}
.circular-progress{
    position: relative;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border-radius: 9rem;
    margin-inline:1.5rem;
    border: 1.2rem solid #374258;
    box-sizing: border-box;
    transform: rotate(45deg)
}
.text-progress{
  color:#f74464;
  transform: rotate(-45deg);
  font-size: 3rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
.S-titulo{
  text-align: center;
  margin-bottom: 0rem;
  font-size: 2rem;
  color:#f74464;
}
.progress-25 {
  border-left-color:#f74464;
}
.progress-50 {
  border-left-color:#f74464;
  border-top-color:#f74464;
}
.progress-75 {
  border-left-color:#f74464;
  border-top-color:#f74464;
  border-right-color:#f74464;
}
.progress-100 {
  border-left-color:#f74464;
  border-top-color:#f74464;
  border-bottom:#f74464;
}

.card-educaction{
  background-color: transparent;
  color: #f3f3f3;
  text-align: justify;
  border-left: none;
  border-bottom: none;
  border-right: 1;
  border-top: none;
  border-color: #f3f3f3;  
}

.educaction-Contariner{
  display: flex;
  overflow: hidden;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  
}
.card-educaction .card-title{
  color: #f74464;
}
.card-educaction .card-subtitle{
  color: #f797a8;
}
.Button-more{
  all: initial;
  color: #f74464;
  font-size: 1.2rem;
}
.Button-more:hover{
  color:#f797a8 ;
  cursor:pointer;
}
.list-card-item{
  list-style-type: none;
}
.text-bold{
  font-weight: bold;
}
.list-card{
  padding: 0;
}
.Project-experience{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
.img-project{
  height: 20rem;

  object-fit: cover;
}

.portf-card{
  position: relative;
  width: 300px;
  height: 350px;
}
.portf-card .face{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
  
}
.portf-card .front{
  transform :perspective(600px)rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}
.portf-card .front img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.portf-card .front h3{
  position: absolute;
  bottom: 0;
  height: 45px;
  width: 100%;
  line-height: 45px;
  background-color: #1f273857;
  text-align: center;
}
.portf-card .back{
  transform :perspective(600px)rotateY(180deg);
  box-shadow: 0 5px 10px #000;
  background-color: #1f2738;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.portf-card .back .link-repo{
  border-top: solid 1px #f74464;
  height: 50px;
  line-height: 50px;
}
.portf-card .back a{
 color: #f74464;
}
.portf-card .back h3{
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}
.portf-card .back p{
  letter-spacing: 2px;
}

.portf-card:hover .front{
  transform :perspective(600px)rotateY(180deg);  
}
.portf-card:hover .back{
  transform :perspective(600px)rotateY(0deg);  
}
.container-portf{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

footer{
  color: #f3f3f3;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.ft-bastian{
width: 30rem;
padding:2rem;
}
.ft-bastian p{
  text-align: justify;
  font-style: italic;  
}

.ft-link{
  all: initial;
  text-align: justify;
  font-style: normal;  
  color: #f3f3f3;
  font-family: 'Source Code Pro', monospace;
}
.ft-redes{
  width: 30rem;
  padding: 2rem;
  text-align: justify;
  font-style: normal;  
}
.ft-redes ul {
  list-style-type: none;
  display: flex ;
  flex-direction: column;
  justify-content: space-around;
}
.ft-WS:hover{
  color: darkgreen;
}
.ft-ld:hover{
  color: #0e76a8;
  }
.ft-tw:hover{
    color: #00acee ;
  }
.ft-gh:hover{
      color: #171515 ;
     }

  .ft-contact{
    width: 30rem;
    display: flex;
    flex-direction:column;
    padding: 2rem;
    gap: 5px;
  }
  .ft-contact input{
    padding: 1rem;
    height: 2rem;
    background-color: transparent;
    color: #f3f3f3;
    border: #f3f3f3 solid 0.5px;
  } 
  .ft-contact button{
    background-color:#1f2738 ;
    color: #f3f3f3
  }
  .ft-contact button:hover{
    background-color:#f74464 ;
    color: #f3f3f3
  }