body{
  background-color: #374258;
  font-family: 'Source Code Pro', monospace;
}

#barra-Navegacion{
  background-color: #374258;
  top: 0;
  right: 0;
  left: 0;
}
#S-About-me{
  margin-top: 100px;
  background-image: url("../img/bg-perfil.png");
  background-size: cover;
}
.gradient-text{
  background-image: linear-gradient(to right, #f74464, #6a7285);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-perfil{
  width: 30rem;
  background-color: #374258;
  box-shadow: 0px;
  border: 0px;
  color: #f3f3f3;
  border: #f3f3f3 solid;
}
.card-about-me{
  width: 30rem;
  background-color: #374258;
  box-shadow: 0px;
  border: 0px;
  color: #f3f3f3;
}

.imagen-personal{
height: 100%;
}

.section-t2{
  height: 720px;
  background-color: #f3f3f3;
  color: #f74464;
}
.section-t1{
  height: 720px;
  background-color: #374258;
  color: #f3f3f3;
}
.btn{
  color: #f3f3f3;
}
.img-perfil{
  height: 30rem;
}
.contenedor-about-me{
  width: 60%;
}